@import "../../../main-style.scss";

.card {
  border: 1px solid transparent !important;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: darken($color: $light-grey, $amount: 2%);
    .delete-icon {
      opacity: 1;
      transform: scale(1);
    }
  }
  .delete-icon {
    position: absolute;
    right: -12px;
    top: -12px;
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    i {
      font-size: 1.2rem;
      color: $dark-blue;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.list-group-item {
  border: 1px solid transparent !important;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: darken($color: $light-grey, $amount: 2%);
  }
}

.income {
  .list-group-item {
    color: $green;
    span {
      color: $green;
      background-color: $light-green;
    }
  }
}

.expense {
  .list-group-item {
    color: $red;
    span {
      color: $red;
      background-color: $light-red;
    }
  }
}
